.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100vh;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #318ce7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #255ea7;
}

.submitted-link {
  margin-top: 20px;
}

.submitted-link a {
  color: #318ce7;
  text-decoration: none;
}

.submitted-link a:hover {
  text-decoration: underline;
}
