.card {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 95%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card-title {
    font-size: 1.3em;
    margin-bottom: 3px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-definition {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
}

.card-button {
    align-self: flex-end;
    padding: 8px 16px;
    font-size: 0.9em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}
